---
layout: default
---

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
 -->

  <!-- Main view -->
  <div class="view">
    <!-- Blueprint header -->
    <header>
<!--      <div class="row">
        <div class="four columns"><h6><a href="">Alejandro García Salas'</a></h6></div>
        <div class="two columns offset-by-six"><h6><a href="">Contact</a></h6></div>  
      </div> -->
      <h1>Portfolio</h1>
      <nav>

      </nav>
    </header>
    <!-- Grid -->
    <section class="grid grid--loading">
      <!-- Loader -->
      <img class="grid__loader" src="assets/images/grid.svg" width="60" alt="Loader image" />
      <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
      <div class="grid__sizer"></div>
      <!-- Grid items -->
      {% for post in site.posts %}
        <div class="grid__item {{ post.category }}">
          <div class="slider">
            <div class="slider__item"><img src="{{post.images[0].url}}" alt="Dummy" /></div>
            <div class="slider__item"><img src="{{post.images[1].url}}" alt="Dummy" /></div>
            <div class="slider__item"><img src="{{post.images[2].url}}" alt="Dummy" /></div>
          </div>
          <div class="meta">
            <h3 class="meta__title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <span class="meta__brand">{{ post.date }}</span>
            <span class="meta__price">{{category}}</span>

          </div>
          <button class="action action--button action--buy"><i class="fa fa-arrow-right"></i><span class="text-hidden">Add to cart</span></button>
        </div>        
      {% endfor %}  
    </section>
    <!-- /grid-->
  </div>