<!--   
<div class="bar">
    <div class="filter">
      <span class="filter__label">Filter: </span>
      <button class="action filter__item filter__item--selected" data-filter="*">All</button>
      <button class="action filter__item" data-filter=".web"><i class="icon fa fa-code"></i><span class="action__text">Web</span></button>
      <button class="action filter__item" data-filter=".mobile"><i class="icon fa fa-mobile"></i><span class="action__text">Mobile</span></button>
      <button class="action filter__item" data-filter=".design"><i class="icon fa fa-diamond"></i><span class="action__text">Design</span></button>
      <button class="action filter__item" data-filter=".digital-art"><i class="icon fa fa-pencil-square-o"></i><span class="action__text">Digital Art</span></button>
      <button class="action filter__item" data-filter=".miscellaneous"><i class="icon fa fa-folder"></i><span class="action__text">Miscellaneous</span></button>
    </div>
  </div>
    <div class="bar">
    <div class="filter">
      <span class="filter__label">Filter </span>
      <button class="action filter__item filter__item--selected" data-filter="*">All</button>
      <button class="action filter__item" data-filter=".web"><i class="icon fa fa-code"></i><span class="action__text">Web</span></button>
      <button class="action filter__item" data-filter=".mobile"><i class="icon fa fa-mobile"></i><span class="action__text">Mobile</span></button>
      <button class="action filter__item" data-filter=".design"><i class="icon fa fa-diamond"></i><span class="action__text">Design</span></button>
      <button class="action filter__item" data-filter=".digital-art"><i class="icon fa fa-pencil-square-o"></i><span class="action__text">Digital Art</span></button>
      <button class="action filter__item" data-filter=".miscellaneous"><i class="icon fa fa-folder"></i><span class="action__text">Miscellaneous</span></button>
    </div>
  </div> 
-->