<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- SEO--> 
  <meta name="author" content="Alejandro García Salas">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="Alejandro, Garcia, Salas, technology, design, entrepreneurship, portfolio"> 

  <!-- Open Graph--> 
  <meta property="og:type" content="blog">
  <meta property="og:url" content="http://alejandrogarciasalas.me">
  <meta property="og:image" content="https://dl.dropboxusercontent.com/u/30763013/blog/images/avatar-personal-site.jpg">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="Alejandro García Salas">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">   
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:url" content="http://alejandrogarciasalas.me">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:site" content="http://alejandrogarciasalas.me">
  <meta name="twitter:creator" content="Alejandro García Salas">
  <meta name="msapplication-TileColor" content="#3d464d">
  <meta name="msapplication-TileImage" content="https://dl.dropboxusercontent.com/u/30763013/blog/images/avatar-personal-site.jpg">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Theme Color Android Google Chrome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="theme-color" content="#3d464d">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  	<!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
  	<!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

	<script src="assets/js/modernizr.custom.js"></script>
</head>
