<!--   <div class="sub-header">
    <div class="row">
      <div class="four columns">
        <h2 class="site-title">
          <a href="http://alejandro.today">Alejandro's Portfolio</a>
        </h2>
      </div>
      <div class="three columns offset-by-five text-right">
        <nav class="top-nav">
          <a href="http://alejandrogarciasalas.me">About</a>
          <a href="http://alejandrogarciasalas.me/#contact">Contact</a>
        </nav>
      </div>
    </div>
  </div> -->

<header>
  <div class="row">
    <div class="four columns">
      <h1><a href="">Alejandro's Portfolio</a></h1>
    </div>
    <div class="three columns offset-by-five">
      <nav>
        <a href="">About</a>
        <a href="">Contact</a>
      </nav>
    </div>
  </div>
</header>