<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
 -->

  <!-- Bottom bar with filter and cart info -->
  <div class="bar">
    <div class="filter">
      <span class="filter__label">Filter: </span>
      <button class="action filter__item filter__item--selected" data-filter="*">All</button>
      <button class="action filter__item" data-filter=".web"><i class="icon fa fa-code"></i><span class="action__text">Web</span></button>
      <button class="action filter__item" data-filter=".mobile"><i class="icon fa fa-mobile"></i><span class="action__text">Mobile</span></button>
      <button class="action filter__item" data-filter=".design"><i class="icon fa fa-diamond"></i><span class="action__text">Design</span></button>
      <button class="action filter__item" data-filter=".digital-art"><i class="icon fa fa-pencil-square-o"></i><span class="action__text">Digital Art</span></button>
      <button class="action filter__item" data-filter=".miscellaneous"><i class="icon fa fa-folder"></i><span class="action__text">Miscellaneous</span></button>
    </div>
    <!-- <button class="cart"> -->
      <!-- <i class="cart__icon fa fa-arrow-right"></i> -->
      <!-- <span class="text-hidden">Shopping cart</span> -->
      <!-- <span class="cart__count">0</span> -->
    <!-- </button> -->
  </div>