/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}


/*	sub header */
.sub-header{
	margin: 1.8% 0 3% 1.8%;
}


.site-title{
	margin: 0;
	font-weight: 300;
	font-size: 1.8rem;
	letter-spacing: -.05rem;
	a{

		&:hover{
			color: black;
		}
	}
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .site-title{ display: none; }
  .top-nav{ display: none; }
  .bottom-nav{ display: block; }
}

nav{
	font-family: 'Circular Book';
	font-size: 1.3rem;
	a{
		color: rgba(61, 70, 77, 0.6);
		&:hover{
			color: #444;
		}
	}
}

.top-nav{
	top: 1.4%;
	left: 8%;
	position: relative;
	a{
		margin-left: 5%;
		&:hover{
		}
	}
}

.bottom-nav{
	display: none;
}

/* header */
header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 1em;
	text-align: center;
}

header h1 {
	font-size: 3.5em;
	font-weight: 400;
	line-height: 1.3;
}