/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}


/* header */
header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 1em;
	text-align: center;
}

header h1 {
	font-size: 3.5em;
	font-weight: 400;
	line-height: 1.3;
}

.sub-header{
	margin: 1.8% 0 3% 1%;
}

.site-title{
	margin: 0;
	font-weight: 300;
	font-size: 1.8rem;
	letter-spacing: -.05rem;
	a{

		&:hover{
			color: black;
		}
	}
}

.contact-title{
	margin: 0;
	font-weight: 300;
	a{
	}
}

nav{
	position: relative;
	left: 11%;
	font-family: 'Circular Book';
	font-size: 1.4rem;
	a{
		color: rgba(61, 70, 77, 0.6);
		margin-left: 5%;
		&:hover{
			color: #444;
		}
	}
}