/* Circular */

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-Bold.eot');
	src: url('../fonts/circular/Circular-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-Bold.woff') format('woff'),
		url('../fonts/circular/Circular-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-Black.eot');
	src: url('../fonts/circular/Circular-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-Black.woff') format('woff'),
		url('../fonts/circular/Circular-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Book';
	src: url('../fonts/circular/Circular-Book.eot');
	src: url('../fonts/circular/Circular-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-Book.woff') format('woff'),
		url('../fonts/circular/Circular-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-Medium.eot');
	src: url('../fonts/circular/Circular-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-Medium.woff') format('woff'),
		url('../fonts/circular/Circular-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-MediumItalic.eot');
	src: url('../fonts/circular/Circular-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-MediumItalic.woff') format('woff'),
		url('../fonts/circular/Circular-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Book';
	src: url('../fonts/circular/Circular-BookItalic.eot');
	src: url('../fonts/circular/Circular-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-BookItalic.woff') format('woff'),
		url('../fonts/circular/Circular-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-BoldItalic.eot');
	src: url('../fonts/circular/Circular-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-BoldItalic.woff') format('woff'),
		url('../fonts/circular/Circular-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/circular/Circular-BlackItalic.eot');
	src: url('../fonts/circular/Circular-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circular/Circular-BlackItalic.woff') format('woff'),
		url('../fonts/circular/Circular-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}