.grid {
  margin-top: 2em;
}

.grid-item {
  float: left;
  width: 100%;
  padding: 2.5%;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .grid-item {
  	width: 45%;
  }
}