header {
	margin-top: 3em;
	font-family: "NeueHaasUnicaPro-Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-title {
	font-size: 2.25em;
	font-family: "NeueHaasUnicaPro-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	a {
		color: #333;
		&:hover {
			color: black;
		}
	}
}

nav{
	font-size: 1.25em;
	text-align: center;
	a {
		color: rgba(61,70,77,0.6);
		&:hover {
			color: #444;
		}
		&:first-child {
			margin-right: 1em;
		}
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	nav {
		float:right !important; // TODO: refactor this bad taste hack
		text-align: right;
	}
}