---
layout: default
---
{% include header-post.html %}
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

  <article>
  	<div class="container">
      <div class="row">
        <div class="offset-by-one four columns">
          {{ content }}
        </div>
        <div class="offset-by-two five columns">
          <img class="scale-with-grid" src="{{page.images[0].url}}">
        </div>
      </div>
      <hr></hr>
      <div class="row" style="margin: 0 1.5%;">
      {% for _ in page.images %}
        <div class="four columns">
          <img class="scale-with-grid" src="{{page.images[forloop.index0].url}}" alt="Dummy" />
        </div>
      {% endfor %}
      </div>
    </div>
  </article>

</div>
