---
layout: default
---
{% include post-page_header.html %}
<div class="post">
  {% include post-header.html %}
  <article>
    <div class="container">
        <div class="row">
          <div class="offset-by-one four columns">
            {{ content }}
          </div>
          <div class="offset-by-two five columns">
              <img class="scale-with-grid" src="{{page.images[0].url}}">
          </div>
        </div>
        {% if page.images[1] %}
          <hr></hr>
          <div class="row" style="margin: 0 1.5%;">
          {% for _ in page.images %}
            <div class="four columns">
              <img class="scale-with-grid" src="{{page.images[forloop.index0].url}}" alt="Dummy" />
            </div>
          {% endfor %}
          </div>
        {% endif %}

        {% include post-footer.html %}
    </div>
  </article>
</div>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
